VITE_MANAGE_API_URL=http://localhost:8001
VITE_SCRIBE_API_URL=http://localhost:8002
VITE_SUMMARIZER_API_URL=http://localhost:8003
VITE_DOL_API_URL=http://localhost:8004
VITE_FEDERATION_API_URL=http://localhost:8010

