VITE_MANAGE_API_URL=http://localhost:9001
VITE_SCRIBE_API_URL=http://localhost:9002
VITE_SUMMARIZER_API_URL=http://localhost:9003
VITE_DOL_API_URL=http://localhost:8004
VITE_FEDERATION_API_URL=http://localhost:8010

